.banner{
    background-image: url(/bootstrap\ bg\ 2.jpg);
    padding: 180px;
    background-size: cover;
    background-repeat: no-repeat;
}
.body{
    font-family: 'Heebo', sans-serif;
font-family: 'Protest Riot', sans-serif;
}
#about{
    padding: 100px 0px 10px 0px;
}
#skills{
    padding-top: 100px;
}
.card{
    position: relative;
    top: 0%;
}
.card:hover{
  filter: drop-shadow(8px 8px 10px #404142);
  top:-30px;
}
.form-check-input{
    color: aliceblue;
}
button{
    position: center;
}
img{
    border-radius: 10px;
}
